*.db
images/favicon/apple-touch-icon-114x114.png
images/favicon/apple-touch-icon-120x120.png
images/favicon/apple-touch-icon-144x144.png
images/favicon/apple-touch-icon-152x152.png
images/favicon/apple-touch-icon-57x57.png
images/favicon/apple-touch-icon-60x60.png
images/favicon/apple-touch-icon-72x72.png
images/favicon/apple-touch-icon-76x76.png
images/favicon/code.txt
images/favicon/favicon-128.png
images/favicon/favicon-16x16.png
images/favicon/favicon-196x196.png
images/favicon/favicon-32x32.png
images/favicon/favicon-96x96.png
images/favicon/favicon.ico
images/favicon/mstile-144x144.png
images/favicon/mstile-150x150.png
images/favicon/mstile-310x150.png
images/favicon/mstile-310x310.png
images/favicon/mstile-70x70.png
