
/**
 * Table
 */

.table{
    width: 100%;
    font-size: 14px;
    margin-bottom: 1em;
    /*table-layout: fixed;*/
}

    /* Cell */

    .table th, .table td{
        padding: 0.8em 1em;
        text-align: left;
        vertical-align: top;
        border: 1px #b3c1ca solid;
    }

    /* TH */

    .table th{
        background: #D6DBE5;
        border-color: #ACB3BF;
        font-weight: 600;
    }


    /* Hover */

    .table tr:hover > td{
        background-color: #E2F1FE;
    }


/**
 * Datatables
 */

.dataTables_filter{

    margin-bottom: 1em;
}

    /* Input */

    .dataTables_filter input{
        padding: 0.5em 1em;
        border: 1px #ccc solid;
        border-radius: 3px;
        width: 100%;
        max-width: 320px;
        box-sizing: border-box;
    }


    /* Wrapper */

    .dataTables_wrapper{
        padding-bottom: 2em;
    }

        .dataTables_wrapper:after{
            visibility: hidden;
            display: block;
            font-size: 0;
            content: " ";
            clear: both;
            height: 0;
        }

    /* Info */

    .dataTables_info{
        float: left;
    }


    /* Paginate */

    .dataTables_paginate{
        float: right;
        display: none;
    }

        .dataTables_paginate a{
            color: #006eab;
            margin: 0 5px;
            cursor: pointer;
        }

        .dataTables_paginate .current{
            color: #000;
        }

        .dataTables_paginate .disabled{
            opacity: 0.4;
        }



    /**
     * Expand/Collapse
     */

    .collapsed td{
        cursor: pointer;
    }

    .collapsed td:first-child:before{
        content: '+';
        padding-right: 0.2em;
    }

    .collapsed .parent td{
        background-color: #E2F1FE;
    }
    .collapsed .parent td:first-child:before{
        content: "−";
    }

        /* Child */

        .collapsed .child:before{
            display: none;
        }

        /* List */

        .child ul{
            margin-left: 2em;
            padding-left: 0;
        }


        /* Mobile */

        @media only screen and (min-width: 600px){
            .dataTables_paginate{
                display: block;
            }
        }

/**
 * Demo page
 */

body{
    max-width: 960px;
    margin: 1em auto;
    padding: 1em;
    font: 100%/1.5 'Open Sans', Helvetica, Arial;
}

*{
    box-sizing: border-box;
}
